.sidebar-user{
    margin: 0;
    padding: 0;
}
.sidebar-user:hover{
    cursor: pointer;
}
.fa-circle{
    color: rgb(14, 179, 14);
    font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.online-header-text{
    text-align: center;
    padding: 10px;
}
.user-image{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-right: 10px;
}
